@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');
/* 
  #3a5157 
  #ff145b
*/

.App {
  background-color: #1b2122;
  color: white;
  font-family: 'Barlow', sans-serif;
  min-height: 100vh;
}

.header-component {
  border-top: 8px solid #ff145b;
}

.text-red {
  color: #ff145b;
}

.bg-red {
  background-color: #ff145b;
}

.movie-card {
  max-width: 280px;
  width: 100%;
  transition: 200ms;
}

.movie-card:hover {
  transform: scale(1.05);
}

.card-rating {
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translate(-50%, 0);
  background-color: #ff145b;
}

.cursor-pointer {
  cursor: pointer;
}

.movie-detail-image {
  max-width: 400px;
}

.movie-detail-backdrop {
  background: linear-gradient(
    0deg,
    rgba(40, 49, 54, 1) 0%,
    rgba(40, 49, 54, 0.4906337535014006) 100%
  );
}
